<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Iniciatíva zlepšujeme školstvo vznikla v posledných januárových dňoch 2016, keď sa zreteľne preukázalo, že aj tí najelitnejší politici opäť zlyhávajú v pochopení potrieb občanov a pochopení pohybu v spoločnosti. Zo štrajku učiteľov sa postupom času stalo vyjadrovanie občianskeho názoru a ten, ako býva v poslednej dobe zvykom, nebol ani len v náznaku započutý.">
    <meta name="author" content="digital_nomads">

    <meta property="og:title" content="Zlepšujemeškolstvo.sk">
    <meta property="og:site_name" content="Zlepšujemeškolstvo.sk">
    <meta property="og:url" content="http://zlepsujemeskolstvo.sk">
    <meta property="og:description"
          content="Iniciatíva zlepšujeme školstvo vznikla v posledných januárových dňoch 2016, keď sa zreteľne preukázalo, že aj tí najelitnejší politici opäť zlyhávajú v pochopení potrieb občanov a pochopení pohybu v spoločnosti. Zo štrajku učiteľov sa postupom času stalo vyjadrovanie občianskeho názoru a ten, ako býva v poslednej dobe zvykom, nebol ani len v náznaku započutý.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://static.zlepsujemeskolstvo.sk/zs.jpg"/>
    {% stylesheets
    'bundles/app/vendor/bootstrap/dist/css/bootstrap.min.css'
    'bundles/app/vendor/font-awesome/css/font-awesome.min.css'
    'bundles/app/vendor/toastr/toastr.min.css'
    'bundles/app/vendor/animate.css/animate.min.css'
    'plugins/flag-icon-css/css/flag-icon.min.css'
    'bundles/app/css/theme-style.min.css'
    'bundles/app/css/custom-style.css'
    filter='yui_css, cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
    {% endstylesheets %}

    <!-- Le fav and touch icons - @todo: fill with your icons or remove -->
    <link rel="shortcut icon" href="{{ asset('bundles/app/img/icons/favicon.ico') }}">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
</head>
<!-- ======== @Region: body ======== -->
<body class="page page-index-static">
<a href="#content" class="sr-only">Skip to content</a>

<!-- ======== @Region: #navigation ======== -->
<div id="navigation" class="wrapper">
    <div class="navbar-static-top">

        <!--Header upper region-->
        <div class="header-upper">
            <div class="header-upper-inner container">
                <div class="row">
                    <div class="col-xs-8 col-xs-push-4">
                        <!--social media icons-->
                        <div class="social-media">
                        </div>
                    </div>
                    <div class="col-xs-4 col-xs-pull-8">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Header search region - hidden by default -->
    <div class="header-search">
        <form class="search-form container">
            <input type="text" name="search" class="form-control search" value=""
                   placeholder="Vyhľadávanie pribudne čoskoro...">
            <button type="button" class="btn btn-link"><span class="sr-only">Search </span><i
                        class="fa fa-search fa-flip-horizontal search-icon"></i></button>
            <button type="button" class="btn btn-link close-btn" data-toggle="search-form-close"><span class="sr-only">Close </span><i
                        class="fa fa-times search-icon"></i></button>
        </form>
    </div>

    <!--Header & Branding region-->
    <div class="header" data-toggle="clingify">
        <div class="header-inner container">
            <div class="navbar">
                <div class="pull-left">
                    <!--branding/logo-->
                    <a class="navbar-brand" href="/" title="Home">
                        <h1>
                            <span>Zlepšujeme</span>školstvo<span>.sk</span>
                        </h1>
                    </a>
                    <div class="slogan">občianska iniciatíva</div>
                </div>

                <!--Search trigger -->
                <a href="#search" class="search-form-tigger" data-toggle="search-form" data-target=".header-search">
                        <i class="fa fa-search fa-flip-horizontal search-icon"></i>
                </a>

                <!-- mobile collapse menu button - data-toggle="toggle" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu -->
                <a href="#top" class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse"
                   data-direction="right"><i class="fa fa-bars"></i></a>

                <!--everything within this div is collapsed on mobile-->
                <div class="navbar-collapse collapse">
                    <!--main navigation-->
                    <ul class="nav navbar-nav">
                        <li class="home-link">
                            <a href="{{ path('homepage') }}#top"><i class="fa fa-home"></i><span
                                        class="hidden">Home</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="{{ path('homepage') }}#suggestion-categories">Prezeranie podnetov a hlasovanie</a>
                        </li>
                        <li class="dropdown">
                            <a href="{{ path('homepage') }}#add-suggestion">Pridať podnet</a>
                        </li>
                        {#<li class="dropdown">
                          <a href="#"><i class="fa fa-external-link"></i>&nbsp;Blog</a>
                        </li>#}
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
    </div>
</div>

{% block body %}{% endblock %}
<!-- ======== @Region: #footer ======== -->
{% include '@App/common/footer.html.twig' %}
<!--Hidden elements - excluded from jPanel Menu on mobile-->
<div class="hidden-elements jpanel-menu-exclude">
</div>
<!-- vendor scripts -->
{% javascripts
'bundles/app/plugins/retina.min.js'
'bundles/app/vendor/html5shiv/dist/html5shiv.min.js'
'bundles/app/vendor/respond/dest/respond.min.js'
'bundles/app/vendor/jquery/dist/jquery.min.js'
'bundles/app/vendor/bootstrap/dist/js/bootstrap.min.js'
'bundles/app/vendor/toastr/toastr.min.js'
'bundles/app/vendor/fingerprintjs2/dist/fingerprint2.min.js'
'bundles/app/js/script.min.js'
'bundles/app/js/main.js'
'bundles/app/js/ga.js'
filter='?yui_js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block scripts %}
{% endblock %}
</body>
</html>
